*{
    padding: 0;
    margin: 0;
}



body{
    color: white;
    background-image: url("Opera Instantâneo_2023-10-19_221832_www.istockphoto.com.png");
    background-size: cover;
}
.container{
    width: 400px;
    margin:70px auto;
    height: 430px;
    background-color:rgba(000, 0, 0, 0.95);
    border: 2px solid green;
    border-radius: 8px;
}
h1{
    text-align: center;
    margin-top: 5vh;
}
p{
    margin-top: 2vh;
    text-align: center;
}
input{
    height: 20px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    border-radius: 8px;

}
button{
    width: 307px;
    height: 20px;
    margin: 10px auto;
    display: flex;
    background-color: rgb(0, 128, 0);
    border-radius: 8px;
    border: none;
    justify-content: center;
}
button:hover{
    background-color: rgb(46, 247, 46);
    transition: 0.5s;
}
.card{
    margin:auto;
    width: 200px;
    border: 1px;
}
h6{ 
    font-size: 12px;
    margin-top: -10px;
    text-decoration: none;
}
.textcard{
    text-align: center;
}
h5{
    text-align: center;
    font-size: 30px;
}
footer {
    background-color:rgba(000, 0, 0, 0.95);
    color: #fff;
    padding: 20px;
    margin-top: 200px;
}
footer a {
    color: #fff; 
    text-align: center;
    text-decoration: none;
    
}
.footer-div{
    margin: 0 auto;
    text-align: center;
}
h3{
    text-align: center;
}

@media only screen and (min-height: 1000px)
{
    .container{
        margin-top: 350px;
    }
    footer{
        margin-top: 400px;
    }
}

@media only screen and (max-width:500px){
.container{
    width: 350px;
    height: 420px;
}
}
@media only screen and (max-width:415px){
    .container{
        width: 340px;
        height: 420px;
    }
}
@media only screen and (max-width:380px){
    .container{
        width: 320px;
        height: 450px;
    }
    input{
        width: 200px;
    }
    button{
        width: 200px;
    }
    .card{
        width: 170px;
    }
}
@media only screen and (max-width:330px){
    .container{
        width: 250px;
        height: 450px;}
input{
    width: 200px;
}
button{
    width: 200px;
}
.card{
    width: 170px;
}
}